
node_modules/
.DS_Store
.env
.env.local
.env.*.local
LogistikIOT/web/.next/
LogistikIOT/web/out/
.env*
!.env.example
!LogistikIOT/web/.env.example
LogistikIOT/web/.env
LogistikIOT/web/.env.local
LogistikIOT/web/.env.*.local
*.zip
